* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #394B79;
}


.main_wrap {
	height: 100vh;
	display: flex;
  justify-content: center;
  align-items: center;
}

.phone_wrap {
	border: 1px solid #141926;
	background-color: #141926;
	margin: 0 auto;
	padding: 20px 10px 10px 10px;

	display: flex;
  flex-direction: column;
  gap: 5px;

	position: relative;

	width: 100%;
	height: 100%;

  min-width: 320px;
  min-height: 560px;

  max-width: 500px;
	max-height: 888px;

	/*일정 비율이 넘어가면 태블릿으로 인지하고 phone_wrap을 화면 가운데 두기 위해 마진 탑 지정해줄 예정*/
}

.status_bar_wrap{
	border: 1px solid #ffffff;
  width: 100%;
  height: 5px;
  border-radius: 5px;
	overflow: hidden;
}

.status_bar {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: width 1s linear;
}


.game_box_wrap {
	border: 1px solid #ffffff;
  width: 100%;
	flex-grow: 1;
  flex-shrink: 0;
  border-radius: 5px;

	position: relative;

	display: flex;
}


/* 버튼 공통스타일 */
.g_button {
	width: calc(100% - 38px);
  padding: 10px;
  margin: 0 19px 0 19px;
  border-radius: 1000px;
  border: 1px solid #2AA3EF;
	background-color: #2aa3ef85;
	cursor: pointer;
	
	/*텍스트가 있을 경우*/
	color: #ffffff;
	text-align : center;
}

.g_button:hover {
	border: 1px solid #12dfff;
	background-color: #2AA3EF;
}

/* 게임시작 장면 */
.game_box_wrap {
	.game_image_wrap {
		width: 100%;
		background-color: #0A0D13;
		background-image: url('/assets/images/main_002.webp');
		background-position: center;
		background-size: 100% 100%;

		transition: background-image 0.4s ease, background-color 0.4s ease;
	}

	/* 어둡게 만드는 반투명 필터 레이어 */
	.game_image_wrap::after {
		content: "";
		position: absolute;
		inset: 0; /* top:0 left:0 right:0 bottom:0 */
		background: rgba(0, 0, 0, 0.35); /* 어두움 강도 조절 */
		pointer-events: none; /* 클릭 막지 않게 */
	}

	.game_story_wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
    align-items: center;
    /* justify-content: center; */

		flex-direction: column;
		row-gap: 5px;

	}
	.story_bubble {
		width: 100%;
		padding: 15px;
		border: 1px solid #ffffff;
		margin: 15px;
    width: calc(100% - 30px);
		color: #ffffff;

		&.normal_msg {
			background-color: #ffffff80;
		}

		&.system_msg {
			border: 1px solid #2AA3EF;
			background-color: #2aa3ef54;
			color: #00f5d4;
		}

		&.effect_msg {
			text-align: center;
		}
	}

	.story_bubble.system_msg::before {
		content: "[SYSTEM]";
		display: block;
		font-size: 11px;
		color: #00f5d4;
		margin-bottom: 4px;
		letter-spacing: 1px;
		border-bottom: 1px solid #00f5d4;
	}

	.button_wrap,
	.choice_wrap {
		width: 100%;
	}

	.choice_wrap {
		display: flex;
  	flex-direction: column;
  	row-gap: 5px;
	}

	.story_area {
		width: 100%;
		height: 60%;
		display: flex;
    align-items: center;
	}
}


