* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #394B79;
}

.main_wrap {
	display: flex;
  align-items: center;
  justify-content: center;
}
.phone_wrap {
	min-width: 320px;
  min-height: 560px;
	border: 1px solid #141926;
	background-color: #141926;
	margin-top: 25%;
	padding: 20px 10px 10px 10px;

	display: flex;
  flex-direction: column;
  gap: 5px;

	position: relative;
}

.status_bar_wrap{
	border: 1px solid #ffffff;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

.game_box_wrap {
	border: 1px solid #ffffff;
  width: 100%;
	flex-grow: 1;
  flex-shrink: 0;
  border-radius: 5px;

	position: relative;

	display: flex;
}


/* 버튼 공통스타일 */
.g_button {
	width: calc(100% - 38px);
  padding: 10px;
  margin: 0 19px 0 19px;
  border-radius: 1000px;
  border: 1px solid #2AA3EF;
	background-color: #2aa3ef85;
	cursor: pointer;
	
	/*텍스트가 있을 경우*/
	color: #ffffff;
	text-align : center;
}

.g_button:hover {
	border: 1px solid #12dfff;
	background-color: #2AA3EF;
}

/* 게임시작 장면 */
.game_box_wrap {
	.game_image_wrap {
		width: 100%;
		background-image: url('/assets/images/main_002.webp');
		background-position: center;
		background-size: 100% 100%;
	}
	.game_story_wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
    align-items: center;
    justify-content: center;
	}
}


